{% extends "layout.html" %}

{% block title %}
    Syllabus Library
{% endblock %}

{% block main %}
    <h1>Select a Dance</h1>

        <p>
            <h2>Smooth</h2>
            <table>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="1waltz">Waltz</button>
                    </form>
                </tr>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="1tango">Tango</button>
                    </form>
                </tr>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="1fox">Foxtrot</button>
                    </form>
                </tr>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="1vien">Viennese Waltz</button>
                    </form>
                </tr>
            </table>
        </p>

        <p>
            <h2>Standard</h2>
            <table>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="2waltz">Waltz</button>
                    </form>
                </tr>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="2tango">Tango</button>
                    </form>
                </tr>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="2fox">Foxtrot</button>
                    </form>
                </tr>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="2quick">Quickstep</button>
                    </form>
                </tr>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="2vien">Viennese Waltz</button>
                    </form>
                </tr>
            </table>
        </p>

        <p>
            <h2>Rhythm</h2>
            <table>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="3cha">Cha-Cha</button>
                    </form>
                </tr>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="3rum">Rumba</button>
                    </form>
                </tr>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="3swing">Swing</button>
                    </form>
                </tr>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="3bolero">Bolero</button>
                    </form>
                </tr>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="3mambo">Mambo</button>
                    </form>
                </tr>
            </table>
        </p>

        <p>
            <h2>Latin</h2>
            <table>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="4cha">Cha-Cha</button>
                    </form>
                </tr>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="4rum">Rumba</button>
                    </form>
                </tr>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="4samba">Samba</button>
                    </form>
                </tr>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="4paso">Paso Doble</button>
                    </form>
                </tr>
                <tr>
                    <form action="/dances" method="post">
                        <button class="button" name="syllabus" type="submit" value="4jive">Jive</button>
                    </form>
                </tr>
            </table>
        </p>
{% endblock %}