{% extends "layout.html" %}

{% block title %}
    Tempi
{% endblock %}

{% block main %}
        <h1>Dance Tempi</h1>

        <p>
        <h2>Smooth</h2>
        <table>
            <tr>
                <td>Waltz</td>
                <td>90 BPM</td>
            </tr>
            <tr>
                <td>Tango</td>
                <td>120 BPM</td>
            </tr>
            <tr>
                <td>Foxtrot</td>
                <td>120 BPM</td>
            </tr>
            <tr>
                <td>Viennese Waltz</td>
                <td>159 BPM</td>
            </tr>
        </table>
        </p>

        <p>
        <h2>Standard</h2>
        <table>
            <tr>
                <td>Waltz</td>
                <td>87 BPM</td>
            </tr>
            <tr>
                <td>Quickstep</td>
                <td>200 BPM</td>
            </tr>
            <tr>
                <td>Tango</td>
                <td>128 BPM</td>
            </tr>
            <tr>
                <td>Foxtrot</td>
                <td>112 BPM</td>
            </tr>
            <tr>
                <td>Viennese Waltz</td>
                <td>174 BPM</td>
            </tr>
        </table>
        </p>

        <p>
        <h2>Rhythm</h2>
        <table>
            <tr>
                <td>Cha-Cha</td>
                <td>120 BPM</td>
            </tr>
            <tr>
                <td>Rumba</td>
                <td>124 BPM</td>
            </tr>
            <tr>
                <td>Swing</td>
                <td>140 BPM</td>
            </tr>
            <tr>
                <td>Bolero</td>
                <td>88 BPM</td>
            </tr>
            <tr>
                <td>Mambo</td>
                <td>188 BPM</td>
            </tr>
        </table>
        </p>

        <p>
        <h2>Latin</h2>
        <table>
            <tr>
                <td>Cha-Cha</td>
                <td>124 BPM</td>
            </tr>
            <tr>
                <td>Rumba</td>
                <td>96 BPM</td>
            </tr>
            <tr>
                <td>Samba</td>
                <td>100 BPM</td>
            </tr>
            <tr>
                <td>Jive</td>
                <td>172 BPM</td>
            </tr>
            <tr>
                <td>Viennese Waltz</td>
                <td>110 BPM</td>
            </tr>
        </table>
        </p>
{% endblock %}