{% extends "layout.html" %}

{% block title %}
    YCN Points
{% endblock %}

{% block main %}
        <h1>About YCN Points</h1>

        <p>
            <h2>Levels of Dance</h2>
            The single-ladder YCN system recognizes seven consecutive levels, in increasing order of proficiency:<br><br>

            <div>
            <ul style="list-style-type:none;">
                <li>Pre-Bronze/Newcomer</li>
                <li>Bronze</li>
                <li>Silver</li>
                <li>Gold</li>
                <li>Novice</li>
                <li>Pre-Championship</li>
                <li>Championship</li>
            <ul>
            </div>
        </p>

        <p>
            <h2>What are "Points"?</h2>
            Placing in the final of a level earns you points simultaneously in that level and the levels below it.<br>
            Events qualify only if there was at least a semi-final danced.<br>
            <strong>Once you earn 7 or more points in a level, you can no longer dance at that level.</strong>
            <br>
            <br>
            Points are earned as follows at the level you danced:<br>
            <ul style="list-style-type:none;">
            <li>&#x1F947 1st place: 3 pts</li>
            <li>&#x1F948 2nd place: 2 pts</li>
            <li>&#x1F949 3rd place: 1 pts</li>
            <li><strong><em>If a quarter-final was danced:</em></strong></li>
            <li>4-6th place: 1 pt</li>
            <ul>
        </p>
        <p>
            <h3>At Lower Levels:</h3>
            At the level below the one you danced, double the points are earned.<br>
            At any level more than one below the level you danced, 7 points are earned for placing 1st-6th in a final.<br>
        </p>

        <p>
            <h2>Multi-Dance ("Linked") Events</h2>
            In multi-dance events, points are earned for each dance according to the combined placement. For example, if you place 3rd in a Silver Samba/Jive event, you earn points for placing 3rd in Silver Samba and 3rd in Silver Jive, even if the actual separate placement was different (say, 2nd and 4th).
        </p>

        <p>
            <h2>Combined-Level Events</h2>
            Points for “Syllabus” (i.e. merged Bronze/Silver/Gold) events are awarded at the Bronze level.<br>
            Points for “Open” (i.e. merged Novice/Pre-Champ/Champ) events are awarded at the Pre-Champ level.<br>
            Points for “Master of Syllabus” (i.e. an event that may include competitors who have placed out of Gold, but that is restricted to syllabus figures) are awarded at the Gold level.<br>
        </p>

        Information from <a href="http://ballroom.mit.edu/index.php/ycn-proficiency-points/">MIT Ballroom</a>
 {% endblock %}